.stateOfTheArchitecture{
    background: url("../../images/bg-pattern-circles.svg");
    height: 420px; /* You must set a specified height */
    background-position: -18% 101%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 600px; /* Resize the background image to cover the entire container */
    background-color: #3D4061;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 120px;
    
}
.ImageContainer{
    position: relative;
    top: -69px;
    left: 20px;
}
.stateContentSec{
    display: flex;
    flex-direction: row;   
}

.stateRight h1{
    color: white;
}
.stateContent{
    padding: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
