.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
   
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
ul li{
    list-style-type: none;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.leftSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.signUp_SignIn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
.loginBtn,.signUpBtn{
    border: none;
    width: 100px;
    padding: 8px;
    border-radius: 15px;
    cursor: pointer;
}
.loginBtn{
    background-color: transparent;
    color: white;
}
.signUpBtn{
    background-color: white;
    color:  #FF5F61;
}
.menuItems{
    position: relative;
}
.dropDown{
    position: absolute;
    background-color: white;
    width: 150px;
    border-radius: 10px;
    left: 188px;
    top: 25px;
}
.dropDown ul li a {
    color: black;
}
.dropDownUl{
   
    display: flex;
    flex-direction: column;
}
.up{
    width: 8px;
}